<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="script.js"></script>

    <title>Lesson2</title>
</head>
<body>
<header>
    <div class="container">
        <menu>
            <input type="text" placeholder="Enter text to search" v-model="search">
            <li class="button">Корзина <span class="cart-counter" id="cart-counter">0</span></li>
        </menu>
    </div>
</header>
<div class="main" id="main">
    <div class="container">
        <h1>Каталог товаров</h1>
        <div class="goods-list justify-content-between" id="goods-list" >
            <div class="goods" id = "goods" v-for="item in allGoods">
                <div class="goods-img"> <img :src="item.img"></div>
                <div class="goods-info justify-content-between"><div class="goods-title">{{item.title}}</div>
                <div class="goods-price"><span>{{item.price}}</span><span>₽</span></div>
                </div><a class="button" data-id="{{item.id}}">Добавить</a></div>
            </div>
        </div>

        <hr>
        <div class="basket">
            <div class="order-list" id="order-list">
            </div>
        </div>
    </div>
</div>

<footer><div class="container"></div></footer>
</body>
</html>